$font-color: hsla(0, 0%, 21%, 1);
.skills {
  height: 100vh;
}
.section-header {
  font-size: 1.15em;
  text-align: center;

  a {
    color: $font-color;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
      font-size: 0.98em;
      font-weight: bold;
    }
  }
}

.gitHub {
  p {
    line-height: 160%;
    padding: 2em;
  }

  img {
    justify-content: center;

    li {
      display: flex;
      flex-direction: row;
      padding: 0.75em;
      justify-content: space-between;
      text-shadow: 4px 4px 8px #427388;
    }
  }

  @media (max-width: 1150px) {
    img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      justify-content: space-between;
      margin: 0.5em;
    }
  }
}

.pic-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-right: 0;
  max-width: 1200px;
  padding: 1em;
  padding-bottom: 3em;
  margin: auto;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.appsdiv {
  height: 200px;
  width: 323px;
  padding: 0.5em;

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    .overlay {
      position: absolute;
      overflow: hidden;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      transition: opacity 0.35s, transform 0.35s;
      transform: scale(0, 1);
    }

    &:hover .overlay {
      opacity: 1;
      filter: alpha(opacity = 100);
      transform: scale(1);
    }

    img {
      display: block;
      position: relative;
      transition: all 0.35s;
    }

    &:hover img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.4);
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      position: relative;
      font-size: 1.25em;
      background-color: transparent;
      color: #fff;
      opacity: 0;
      filter: alpha(opacity = 0);
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(0, -100%, 0);
    }

    i {
      font-size: 2em;
    }

    a {
      color: #fff;
      opacity: 0;
      filter: alpha(opacity = 0);
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(0, 100%, 0);
    }
  }

  .hovereffect p {
    color: #fff;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0, 100%, 0);
  }

  .hovereffect:hover {
    a,
    p,
    h2 {
      opacity: 1;
      filter: alpha(opacity = 100);
      transform: translate3d(0, 0, 0);
    }
  }
}

div img.gitHubChart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  padding-bottom: 4em;
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 800px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
    max-height: 500px;
  }

  li {
    flex-wrap: wrap;
    font-size: 4em;
    justify-content: space-between;
    border-radius: 50%;
    margin: 0;
  }

  div img.gitHubChart {
    width: 80vw;
  }
}

div.gitHub {
text-align: left;

p {
  line-height: 160%;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 2em;
}
}