$color-black: rgb(8, 58, 88);
$color-blue: #3976c6;
$color-white: hsla(177, 8, 99, 1);
$color-whitetwo: rgb(202, 215, 230);
$font-color: hsla(0, 0%, 21%, 1);

.about {
  min-height: 100vh;
  background-image: url(../../images/book.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-header {
  font-size: 1.15em;
  text-align: center;

  a {
    color: $font-color;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
      font-size: 0.98em;
      font-weight: bold;
    }
  }

  .me {
    padding-left: 20vw;
    padding-right: 20vw;

    p {
      line-height: 160%;
      text-align: center;
      margin-bottom: 2em;
      font-size: 1.2em;

      @media (max-width: 600px) {
        font-size: 1.15em;
        padding: 0;
      }
    }
  }

  .quote {
    margin: 0;
    font-style: italic;
    font-size: 1.5em;
    padding: 2em;

    @media (min-width: 360px) {
      padding: 0 0 2em;
    }
  }

  h1 {
    background: $color-black;
    background: -webkit-linear-gradient(left top, $color-blue, $color-whitetwo);
    background: -o-linear-gradient(bottom right, $color-blue, $color-whitetwo);
    background: -moz-linear-gradient(bottom right, $color-blue, $color-whitetwo);
    background: linear-gradient(to bottom right, $color-black, $color-blue, $color-whitetwo);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: $color-white;
    font-variant-caps: all-small-caps;
    font-weight: lighter;
    font-size: 3em;
  }
}