$color-black: rgb(8, 58, 88);
$color-white: hsla(177, 8, 99, 1);

.Header {
    min-height: 100vh;
    background-image: url(../../images/keyboard2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0.5em;
    text-align: center;
    color: $color-black;
    margin-top: 1.75em;

    @media (min-width: 375px) {
      background-image: url(../../images/keyboard2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    @media (min-width: 450px) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  
    @media (min-width: 760px) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  
    @media (min-width: 900px) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    
    h1 {
      color: $color-black;
      font-size: 2em;
      font-weight: normal;
      margin: 0 0 0.5em;
      font-variant-caps: small-caps;
      text-shadow: 2px 2px $color-white;
  
      @media (min-width: 450px) {
        font-size: 2.75em;
      }
  
      @media (min-width: 760px) {
        font-size: 3.25em;
      }
  
      @media (min-width: 900px) {
        font-size: 5.25em;
        margin: 0 0 0.5em;
      }
    }
}

div.bio {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  line-height: 180%;


  img.avatar_url {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    font-size: 2.1em;
    text-align: center;
    max-width: 500px;
    font-weight: bolder;
    text-shadow: 2px 2px $color-white
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.avatar_url {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    p {
      padding: 1em;
      font-size: 1.15em;
      text-align: center;
    }
  }
}